body {
  font-family: "Poppins", system-ui;
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

.subtitle {
  color: #666;
  margin-bottom: 20px;
}

#calendar {
  max-width: 900px;
  margin: auto;
  background: white;
  border-radius: 18px;
  padding: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

/* Events */
.fc-event {
  border-radius: 10px;
  padding: 4px 6px;
  font-size: 13px;
}

/* Day cells */
.fc-daygrid-day-frame {
  border-radius: 12px;
}

/* Header */
.fc-toolbar-title {
  font-weight: 600;
}

/* Remove harsh grid lines */
.fc-theme-standard td,
.fc-theme-standard th {
  border-color: #f0f0f0;
}

.fc-month-1 #calendar {
  background: #f3fae1;
}
.fc-month-2 #calendar {
  background: #f5f9da;
}
.fc-month-3 #calendar {
  background: #f3fae1;
}
.fc-month-4 #calendar {
  background: #f5f9da;
}
.fc-month-5 #calendar {
  background: #f3fae1;
}
.fc-month-6 #calendar {
  background: #f5f9da;
}
.fc-month-7 #calendar {
  background: #f3fae1;
}
.fc-month-8 #calendar {
  background: #f5f9da;
}
.fc-month-9 #calendar {
  background: #f3fae1;
}
.fc-month-10 #calendar {
  background: #f5f9da;
}
.fc-month-11 #calendar {
  background: #f3fae1;
}
.fc-month-12 #calendar {
  background: #f5f9da;
}
